html {
  box-sizing: border-box;
  font-family: "Merriweather";
  /* line-height: 1.5rem; */
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Merriweather;
}

h1 {
  font-weight: normal;
  margin: 1.5rem;
  grid-column: 1 / -1;
}

header {
  font-style: italic;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.header {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 2;
  padding-bottom: .75rem;
}

header h2 {
  color: white;
  grid-row: 1;
  font-style: italic;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: .25rem;
}

header p {
  color: white;
  grid-row: 2;
  margin-bottom: 1.5rem;
  font-style: normal;
}

p {
  margin: 0;
}

.header-text {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2;
  z-index: 1;
  align-self: end;
  padding: .75rem;
}

main {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: .75rem;
  grid-template-areas:
    "box1 box1 box1"
    "box2 box3 box4"
    "box5 box6 box7";
}

img {
  max-width: 100%;
  height: auto;
}

main h2 {
  font-style: italic;
  font-size: 1.3rem;
  font-weight: normal;
  padding: 1.5rem 1.5rem 0;
  margin: 0;
}

dl {
  font-style: italic;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: normal;
  padding: 0 1.5rem;
  margin: 0;
}

dd {
  font-style: normal;
}

.box2 {
  grid-area: box2;
}

.box5 {
  grid-area: box5;
}

.box3 {
  grid-area: box3;
}

.box6 {
  grid-area: box6;
}

.box4 {
  grid-area: box4;
}

.box7 {
  grid-area: box7;
}
